<a href="https://colab.research.google.com/github/Justin2430/BizRecProject/blob/main/DataprocessingP5_Checkin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=090ea5167edba2965240d229c0959fffe9d7bda3cd34b37ea12d3cdc114f11e2
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:
!pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:

!pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow) (1.26.4)

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import *
import time

In [ ]:
# Initialize SparkSession
spark = SparkSession.builder.appName("CSVReader").getOrCreate()

In [ ]:
# Start time
start_time = time.time()
print(f"Execution started at: {time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(start_time))}")

# Read the CSV data
df = spark.read.csv("/content/drive/MyDrive/CSV/yelp_checkin.csv", header=True, inferSchema=True)

# Display the entire dataframe (use with caution for large datasets)
df.show()

# End time
end_time = time.time()
print(f"Execution ended at: {time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(end_time))}")

# Calculate and print the execution time
execution_time = end_time - start_time
print(f"Execution time: {execution_time:.2f} seconds")

Execution started at: 2024-10-11 23:04:19
+--------------------+--------------------+--------------------+
|                 _id|         business_id|                date|
+--------------------+--------------------+--------------------+
|66ea4866e59c7c5b6...|---kPU91CF4Lq2-Wl...|2020-03-13 21:10:...|
|66ea4866e59c7c5b6...|--0iUa4sNDFiZFrAd...|2010-09-13 21:43:...|
|66ea4866e59c7c5b6...|--30_8IhuyMHbSOcN...|2013-06-14 23:29:...|
|66ea4866e59c7c5b6...|--7PUidqRWpRSpXeb...|2011-02-15 17:12:...|
|66ea4866e59c7c5b6...|--7jw19RH9JKXgFoh...|2014-04-21 20:42:...|
|66ea4866e59c7c5b6...|--8IbOsAAxjKRoYsB...|2015-06-06 01:03:...|
|66ea4866e59c7c5b6...|--9osgUCSDUWUkoTL...|2015-06-13 02:00:...|
|66ea4866e59c7c5b6...|--ARBQr1WMsTWiwOK...|2014-12-12 00:44:...|
|66ea4866e59c7c5b6...|--FWWsIwxRwuw9vIM...|2010-09-11 16:28:...|
|66ea4866e59c7c5b6...|--FcbSxK1AoEtEAxO...|2017-08-18 19:43:...|
|66ea4866e59c7c5b6...|--LC8cIrALInl2vyo...|2017-01-12 19:10:...|
|66ea4866e59c7c5b6...|--MbOh2O1pATkXa7x...|2013-04-21 01:52:...|
|66ea4866e59c7c5b6...|--N9yp3ZWqQIm7DqK...|2012-10-06 20:46:...|
|66ea4866e59c7c5b6...|--O3ip9NpXTKD4oBS...|2010-04-17 21:07:...|
|66ea4866e59c7c5b6...|--OS_I7dnABrXvRCC...| 2018-05-11 18:23:36|
|66ea4866e59c7c5b6...|--S43ruInmIsGrnnk...|2010-08-29 01:17:...|
|66ea4866e59c7c5b6...|--SJXpAa0E-GCp2sm...|2014-04-06 22:23:...|
|66ea4866e59c7c5b6...|--Sd93OFWITqDHifM...|2013-01-09 17:42:...|
|66ea4866e59c7c5b6...|--ZVrH2X2QXBFdCil...|2010-08-12 18:21:...|
|66ea4866e59c7c5b6...|--ZWv8kGlM2YL58uK...|2010-10-13 18:41:...|
+--------------------+--------------------+--------------------+
only showing top 20 rows

Execution ended at: 2024-10-11 23:04:40
Execution time: 20.19 seconds

In [ ]:
# total records in the dataframe

total_records = df.count()
print(f"Total records in the dataframe: {total_records}")

Total records in the dataframe: 131930

In [ ]:
# dropping the column _id

df_checkin = df.drop('_id')
df_checkin.show()

+--------------------+--------------------+
|         business_id|                date|
+--------------------+--------------------+
|---kPU91CF4Lq2-Wl...|2020-03-13 21:10:...|
|--0iUa4sNDFiZFrAd...|2010-09-13 21:43:...|
|--30_8IhuyMHbSOcN...|2013-06-14 23:29:...|
|--7PUidqRWpRSpXeb...|2011-02-15 17:12:...|
|--7jw19RH9JKXgFoh...|2014-04-21 20:42:...|
|--8IbOsAAxjKRoYsB...|2015-06-06 01:03:...|
|--9osgUCSDUWUkoTL...|2015-06-13 02:00:...|
|--ARBQr1WMsTWiwOK...|2014-12-12 00:44:...|
|--FWWsIwxRwuw9vIM...|2010-09-11 16:28:...|
|--FcbSxK1AoEtEAxO...|2017-08-18 19:43:...|
|--LC8cIrALInl2vyo...|2017-01-12 19:10:...|
|--MbOh2O1pATkXa7x...|2013-04-21 01:52:...|
|--N9yp3ZWqQIm7DqK...|2012-10-06 20:46:...|
|--O3ip9NpXTKD4oBS...|2010-04-17 21:07:...|
|--OS_I7dnABrXvRCC...| 2018-05-11 18:23:36|
|--S43ruInmIsGrnnk...|2010-08-29 01:17:...|
|--SJXpAa0E-GCp2sm...|2014-04-06 22:23:...|
|--Sd93OFWITqDHifM...|2013-01-09 17:42:...|
|--ZVrH2X2QXBFdCil...|2010-08-12 18:21:...|
|--ZWv8kGlM2YL58uK...|2010-10-13 18:41:...|
+--------------------+--------------------+
only showing top 20 rows

In [ ]:
# print one value in date field fully

from pyspark.sql.functions import col

# Assuming 'date' is the name of your date field
df_checkin.select(col("date")).first()[0]

'2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020-07-24 22:42:27, 2020-10-24 21:36:13, 2020-12-09 21:23:33, 2021-01-20 17:34:57, 2021-04-30 21:02:03, 2021-05-25 21:16:54, 2021-08-06 21:08:08, 2021-10-02 15:15:42, 2021-11-11 16:23:50'

In [ ]:
# create and additional column total_checkin_count for each row, where the value is calculated by counting all the dates in the date field.

from pyspark.sql.functions import size, split

# Assuming 'date' is the name of your date field
df_checkin_with_count = df_checkin.withColumn("total_checkin_count", size(split(col("date"), ",")))

df_checkin_with_count.show()

+--------------------+--------------------+-------------------+
|         business_id|                date|total_checkin_count|
+--------------------+--------------------+-------------------+
|---kPU91CF4Lq2-Wl...|2020-03-13 21:10:...|                 11|
|--0iUa4sNDFiZFrAd...|2010-09-13 21:43:...|                 10|
|--30_8IhuyMHbSOcN...|2013-06-14 23:29:...|                  2|
|--7PUidqRWpRSpXeb...|2011-02-15 17:12:...|                 10|
|--7jw19RH9JKXgFoh...|2014-04-21 20:42:...|                 26|
|--8IbOsAAxjKRoYsB...|2015-06-06 01:03:...|                 32|
|--9osgUCSDUWUkoTL...|2015-06-13 02:00:...|                 24|
|--ARBQr1WMsTWiwOK...|2014-12-12 00:44:...|                 34|
|--FWWsIwxRwuw9vIM...|2010-09-11 16:28:...|                  7|
|--FcbSxK1AoEtEAxO...|2017-08-18 19:43:...|                 82|
|--LC8cIrALInl2vyo...|2017-01-12 19:10:...|                  7|
|--MbOh2O1pATkXa7x...|2013-04-21 01:52:...|                103|
|--N9yp3ZWqQIm7DqK...|2012-10-06 20:46:...|                  7|
|--O3ip9NpXTKD4oBS...|2010-04-17 21:07:...|                456|
|--OS_I7dnABrXvRCC...| 2018-05-11 18:23:36|                  1|
|--S43ruInmIsGrnnk...|2010-08-29 01:17:...|                309|
|--SJXpAa0E-GCp2sm...|2014-04-06 22:23:...|                 45|
|--Sd93OFWITqDHifM...|2013-01-09 17:42:...|                 48|
|--ZVrH2X2QXBFdCil...|2010-08-12 18:21:...|                 67|
|--ZWv8kGlM2YL58uK...|2010-10-13 18:41:...|                 13|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
# split the date column into 2 separate columns date and time. first trim the whole column and then split to avoid errors

from pyspark.sql.functions import split, trim

# Trim whitespace from the date column
df_checkin = df_checkin_with_count.withColumn("date_trimmed", trim(df_checkin_with_count["date"]))

# Split the trimmed date column into date and time columns
df_checkin = df_checkin.withColumn("date", split(df_checkin["date_trimmed"], " ")[0]) \
                     .withColumn("time", split(df_checkin["date_trimmed"], " ")[1])

df_checkin = df_checkin.drop("date_trimmed")

df_checkin.show()

+--------------------+----------+-------------------+---------+
|         business_id|      date|total_checkin_count|     time|
+--------------------+----------+-------------------+---------+
|---kPU91CF4Lq2-Wl...|2020-03-13|                 11|21:10:56,|
|--0iUa4sNDFiZFrAd...|2010-09-13|                 10|21:43:09,|
|--30_8IhuyMHbSOcN...|2013-06-14|                  2|23:29:17,|
|--7PUidqRWpRSpXeb...|2011-02-15|                 10|17:12:00,|
|--7jw19RH9JKXgFoh...|2014-04-21|                 26|20:42:11,|
|--8IbOsAAxjKRoYsB...|2015-06-06|                 32|01:03:19,|
|--9osgUCSDUWUkoTL...|2015-06-13|                 24|02:00:57,|
|--ARBQr1WMsTWiwOK...|2014-12-12|                 34|00:44:23,|
|--FWWsIwxRwuw9vIM...|2010-09-11|                  7|16:28:39,|
|--FcbSxK1AoEtEAxO...|2017-08-18|                 82|19:43:50,|
|--LC8cIrALInl2vyo...|2017-01-12|                  7|19:10:02,|
|--MbOh2O1pATkXa7x...|2013-04-21|                103|01:52:06,|
|--N9yp3ZWqQIm7DqK...|2012-10-06|                  7|20:46:47,|
|--O3ip9NpXTKD4oBS...|2010-04-17|                456|21:07:32,|
|--OS_I7dnABrXvRCC...|2018-05-11|                  1| 18:23:36|
|--S43ruInmIsGrnnk...|2010-08-29|                309|01:17:44,|
|--SJXpAa0E-GCp2sm...|2014-04-06|                 45|22:23:56,|
|--Sd93OFWITqDHifM...|2013-01-09|                 48|17:42:28,|
|--ZVrH2X2QXBFdCil...|2010-08-12|                 67|18:21:29,|
|--ZWv8kGlM2YL58uK...|2010-10-13|                 13|18:41:45,|
+--------------------+----------+-------------------+---------+
only showing top 20 rows

In [ ]:
# write this as a csv in /content/drive/MyDrive/ProcessedCSV name it checkin.csv

# Write the DataFrame to a CSV file in your Google Drive
df_checkin.write.csv("/content/drive/MyDrive/ProcessedCSV/checkin.csv", header=True)